/****** Bootstrap Modal *****/
.modal-area-button .mg-b-10{
	margin-bottom:10px;
}
.adminpro-modal-pos{
	position:relative;
}
.modal-close-area{
	position: absolute;
    right: -30px;
    top: -20px;
}
.modal-close-area.modal-close-df{
    right: -22px;
}
.modal-dialog {
    margin: 50px auto;
}
.modal-close-area .close{
	opacity:1;
}
.modal-close-area a{
	    color: #fff;
    font-size: 16px;
    background: #03a9f4;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 28px;
    display: block;
    border-radius: 50%;
}
.modal-close-area a:hover{
	    color: #303030;
}
.modal-clickable{
	text-align:center;
}
.modal-clickable p{
	background:#fff;
	font-size:14px;
	padding:15px 20px;
}
.modal-clickable a{
	text-decoration:underline;
	color:#03a9f4;
}

.modal-backdrop
{
    opacity:0.9 !important;
}

.modal-adminpro-general .modal-content{
	border-radius:0px;
}
.modal-adminpro-general .modal-footer{
	border-top:0px solid #fff;
}
.modal-adminpro-general .modal-body{
	text-align:center;
	padding:50px 70px;
}
.modal-adminpro-general .modal-body p{
	line-height:24px;
	font-size:14px;
	font-weight:400;
	margin:0px;
}
.modal-adminpro-general .modal-body h2{
	font-size:30px;
}
.modal-adminpro-general .modal-body .modal-check-pro{
	font-size:40px;
	color:#03a9f4;
	margin-bottom:30px;
	display:block;
}
.modal-adminpro-general .modal-body .modal-check-pro.information-icon-pro{
	font-size:40px;
}
.modal-bootstrap{
	background:#fff;
	padding:15px;
	border: 1px solid rgba(0,0,0,.12);
}
.modal-bootstrap h2{
	font-size:20px;
	font-weight:700;
}
.modal-bootstrap p{
	font-size:14px;
	line-height:24px;
	font-weight:400;
}
.modal-footer a{
	margin-left:20px;
}
.modal-footer button{
	margin-left:20px;
}
.modal-area-button a{
	margin:0px 5px;
}
.modal-area-button a:hover{
	color:#fff;
}
.modal-area-button a, .modal-footer a{
	padding: 13px 28px;
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 11;
    font-size: 14px;
	display:inline-block;
}
.modal-area-button button, .modal-footer button{
	padding: 13px 28px;
    text-decoration: none;
    color: #fff;
    position: relative;
    z-index: 11;
    font-size: 14px;
	display:inline-block;
}
.modal-area-button a.default:before, .modal-footer a:before, .modal-area-button a.fullwidth:before, .modal-area-button a.Customwidth:before, .modal-area-button a.FullColor:before, .modal-area-button a.Primary:before, .modal-area-button a.Information:before, .modal-area-button a.Warning:before, .modal-area-button a.Danger:before, .modal-area-button a.Alert:before, .modal-area-button a.bounce:before, .modal-area-button a.flash:before, .modal-area-button a.pulse:before, .modal-area-button a.rubberBand:before, .modal-area-button a.shake:before, .modal-area-button a.swing:before, .modal-area-button a.tada:before, .modal-area-button a.wobble:before, .modal-area-button a.jello:before, .modal-area-button a.bounceIn:before, .modal-area-button a.bounceInDown:before, .modal-area-button a.bounceInLeft:before, .modal-area-button a.bounceInRight:before, .modal-area-button a.bounceInUp:before, .modal-area-button a.bounceOut:before, .modal-area-button a.fadeIn:before, .modal-area-button a.fadeInDown:before, .modal-area-button a.fadeInDownBig:before, .modal-area-button a.fadeInLeft:before, .modal-area-button a.fadeInLeftBig:before, .modal-area-button a.fadeInRight:before, .modal-area-button a.fadeInUp:before, .modal-area-button a.flip:before, .modal-area-button a.flipInX:before, .modal-area-button a.flipInY:before, .modal-area-button a.lightSpeedIn:before, .modal-area-button a.rotateIn:before, .modal-area-button a.rotateInDownLeft:before, .modal-area-button a.rotateInDownRight:before, .modal-area-button a.rotateInUpLeft:before, .modal-area-button a.rotateInUpRight:before, .modal-area-button a.hinge:before, .modal-area-button a.rollIn:before, .modal-area-button a.zoomIn:before, .modal-area-button a.zoomInDown:before, .modal-area-button a.zoomInLeft:before, .modal-area-button a.zoomInRight:before, .modal-area-button a.zoomInUp:before, .modal-area-button a.slideInDown:before, .modal-area-button a.slideInLeft:before, .modal-area-button a.slideInRight:before, .modal-area-button a.slideInUp:before{
	background: #03a9f4;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 45px;
    z-index: -1;
    content: "";
}
.modal-area-button button.default:before, .modal-footer button:before, .modal-area-button button.fullwidth:before, .modal-area-button button.Customwidth:before, .modal-area-button button.FullColor:before, .modal-area-button button.Primary:before, .modal-area-button button.Information:before, .modal-area-button button.Warning:before, .modal-area-button button.Danger:before, .modal-area-button button.Alert:before, .modal-area-button button.bounce:before, .modal-area-button button.flash:before, .modal-area-button button.pulse:before, .modal-area-button button.rubberBand:before, .modal-area-button button.shake:before, .modal-area-button button.swing:before, .modal-area-button button.tada:before, .modal-area-button button.wobble:before, .modal-area-button button.jello:before, .modal-area-button button.bounceIn:before, .modal-area-button button.bounceInDown:before, .modal-area-button button.bounceInLeft:before, .modal-area-button button.bounceInRight:before, .modal-area-button button.bounceInUp:before, .modal-area-button button.bounceOut:before, .modal-area-button button.fadeIn:before, .modal-area-button button.fadeInDown:before, .modal-area-button button.fadeInDownBig:before, .modal-area-button button.fadeInLeft:before, .modal-area-button button.fadeInLeftBig:before, .modal-area-button button.fadeInRight:before, .modal-area-button button.fadeInUp:before, .modal-area-button button.flip:before, .modal-area-button button.flipInX:before, .modal-area-button button.flipInY:before, .modal-area-button button.lightSpeedIn:before, .modal-area-button button.rotateIn:before, .modal-area-button button.rotateInDownLeft:before, .modal-area-button button.rotateInDownRight:before, .modal-area-button button.rotateInUpLeft:before, .modal-area-button button.rotateInUpRight:before, .modal-area-button button.hinge:before, .modal-area-button button.rollIn:before, .modal-area-button button.zoomIn:before, .modal-area-button button.zoomInDown:before, .modal-area-button button.zoomInLeft:before, .modal-area-button button.zoomInRight:before, .modal-area-button button.zoomInUp:before, .modal-area-button button.slideInDown:before, .modal-area-button button.slideInLeft:before, .modal-area-button button.slideInRight:before, .modal-area-button button.slideInUp:before{
	background: #03a9f4;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 45px;
    z-index: -1;
    content: "";
}
.modal-area-button a.default:before, .modal-footer a:before{
	width:100px;
}
.modal-area-button button.default:before, .modal-footer button:before{
	width:100px;
}
.modal-area-button a.fullwidth:before{
	width:118px;
}
.modal-area-button a.Customwidth:before{
	width:142px;
}
.modal-area-button a.FullColor:before{
	width:118px;
}
.modal-area-button a.Primary:before{
	width:104px;
}
.modal-area-button a.Information:before{
	width:130px;
}
.modal-area-button a.Warning:before{
	width:109px;
}
.modal-area-button a.Danger:before{
	width:102px;
}
.modal-area-button a.bounce:before{
	width:102px;
}
.modal-area-button a.flash:before{
	width:90px;
}
.modal-area-button a.pulse:before{
	width:90px;
}
.modal-area-button a.shake:before{
	width:90px;
}
.modal-area-button a.swing:before{
	width:90px;
}
.modal-area-button a.tada:before{
	width:90px;
}
.modal-area-button a.wobble:before{
	width:102px;
}
.modal-area-button a.bounceIn:before{
	width:115px;
}
.modal-area-button a.jello:before{
	width:80px;
}
.modal-area-button a.rubberBand:before{
	width:130px;
}
.modal-area-button a.bounceInDown:before{
	width:151px;
}
.modal-area-button a.bounceInUp:before{
	width:134px;
}
.modal-area-button a.bounceOut:before{
	width:128px;
}
.modal-area-button a.fadeIn:before{
	width:98px;
}
.modal-area-button a.fadeInDown:before{
	width:135px;
}
.modal-area-button a.fadeInDownBig:before{
	width:154px;
}
.modal-area-button a.fadeInLeft:before{
	width:122px;
}
.modal-area-button a.fadeInRight:before{
	width:130px;
}
.modal-area-button a.fadeInUp:before{
	width:117px;
}
.modal-area-button a.fadeInLeftBig:before{
	width:138px;
}
.modal-area-button a.bounceInLeft:before{
	width:138px;
}
.modal-area-button a.bounceInRight:before{
	width:146px;
}
.modal-area-button a.Danger.danger-color:before{
	background:#F45846;
}
.modal-area-button a.Alert.Alert-color:before{
	background:#d35400;
}
.modal-area-button a.Warning.Warning-color:before{
	background:#f39c12;
}
.modal-area-button a.Information.Information-color:before{
	background:#8e44ad;
}
.modal-area-button a.Alert:before{
	width:85px;
}
.modal-area-button a.flip:before{
	width:85px;
}
.modal-area-button a.flipInX:before{
	width:97px;
}
.modal-area-button a.flipInY:before{
	width:97px;
}
.modal-area-button a.lightSpeedIn:before{
	width:138px;
}
.modal-area-button a.rotateIn:before{
	width:106px;
}
.modal-area-button a.rotateInDownLeft:before{
	width:168px;
}
.modal-area-button a.rotateInDownRight:before{
	width:176px;
}
.modal-area-button a.rotateInUpLeft:before{
	width:150px;
}
.modal-area-button a.rotateInUpRight:before{
	width:159px;
}
.modal-area-button a.hinge:before{
	width:93px;
}
.modal-area-button a.rollIn:before{
	width:90px;
}
.modal-area-button a.zoomIn:before{
	width:104px;
}
.modal-area-button a.zoomInDown:before{
	width:140px;
}
.modal-area-button a.zoomInLeft:before{
	width:128px;
}
.modal-area-button a.zoomInRight:before{
	width:136px;
}
.modal-area-button a.zoomInUp:before{
	width:122px;
}
.modal-area-button a.slideInDown:before{
	width:133px;
}
.modal-area-button a.slideInLeft:before{
	width:122px;
}
.modal-area-button a.slideInRight:before{
	width:130px;
}
.modal-area-button a.slideInUp:before{
	width:116px;
}
.modal-area-button a.default:after, .modal-footer a:after, .modal-area-button a.fullwidth:after, .modal-area-button a.Customwidth:after, .modal-area-button a.FullColor:after, .modal-area-button a.Primary:after, .modal-area-button a.Information:after, .modal-area-button a.Warning:after, .modal-area-button a.Danger:after, .modal-area-button a.Alert:after, .modal-area-button a.bounce:after, .modal-area-button a.flash:after, .modal-area-button a.pulse:after, .modal-area-button a.rubberBand:after, .modal-area-button a.shake:after, .modal-area-button a.swing:after, .modal-area-button a.tada:after, .modal-area-button a.wobble:after, .modal-area-button a.jello:after, .modal-area-button a.bounceIn:after, .modal-area-button a.bounceInDown:after, .modal-area-button a.bounceInLeft:after, .modal-area-button a.bounceInRight:after, .modal-area-button a.bounceInUp:after, .modal-area-button a.bounceOut:after, .modal-area-button a.fadeIn:after, .modal-area-button a.fadeInDown:after, .modal-area-button a.fadeInDownBig:after, .modal-area-button a.fadeInLeft:after, .modal-area-button a.fadeInLeftBig:after, .modal-area-button a.fadeInRight:after, .modal-area-button a.fadeInUp:after, .modal-area-button a.flip:after, .modal-area-button a.flipInX:after, .modal-area-button a.flipInY:after, .modal-area-button a.lightSpeedIn:after, .modal-area-button a.rotateIn:after, .modal-area-button a.rotateInDownLeft:after, .modal-area-button a.rotateInDownRight:after, .modal-area-button a.rotateInUpLeft:after, .modal-area-button a.rotateInUpRight:after, .modal-area-button a.hinge:after, .modal-area-button a.rollIn:after, .modal-area-button a.zoomIn:after, .modal-area-button a.zoomInDown:after, .modal-area-button a.zoomInLeft:after, .modal-area-button a.zoomInRight:after, .modal-area-button a.zoomInUp:after, .modal-area-button a.slideInDown:after, .modal-area-button a.slideInLeft:after, .modal-area-button a.slideInRight:after, .modal-area-button a.slideInUp:after{
	background: #303030;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    z-index: -1;
    content: "";
	opacity:0;
	transition: all 0.3s ease 0s;
}
.modal-area-button button.default:after, .modal-footer button:after, .modal-area-button button.fullwidth:after, .modal-area-button button.Customwidth:after, .modal-area-button button.FullColor:after, .modal-area-button button.Primary:after, .modal-area-button button.Information:after, .modal-area-button button.Warning:after, .modal-area-button button.Danger:after, .modal-area-button button.Alert:after, .modal-area-button button.bounce:after, .modal-area-button button.flash:after, .modal-area-button button.pulse:after, .modal-area-button button.rubberBand:after, .modal-area-button button.shake:after, .modal-area-button button.swing:after, .modal-area-button button.tada:after, .modal-area-button button.wobble:after, .modal-area-button button.jello:after, .modal-area-button button.bounceIn:after, .modal-area-button button.bounceInDown:after, .modal-area-button button.bounceInLeft:after, .modal-area-button button.bounceInRight:after, .modal-area-button button.bounceInUp:after, .modal-area-button button.bounceOut:after, .modal-area-button button.fadeIn:after, .modal-area-button button.fadeInDown:after, .modal-area-button button.fadeInDownBig:after, .modal-area-button button.fadeInLeft:after, .modal-area-button button.fadeInLeftBig:after, .modal-area-button button.fadeInRight:after, .modal-area-button button.fadeInUp:after, .modal-area-button button.flip:after, .modal-area-button button.flipInX:after, .modal-area-button button.flipInY:after, .modal-area-button button.lightSpeedIn:after, .modal-area-button button.rotateIn:after, .modal-area-button button.rotateInDownLeft:after, .modal-area-button button.rotateInDownRight:after, .modal-area-button button.rotateInUpLeft:after, .modal-area-button button.rotateInUpRight:after, .modal-area-button button.hinge:after, .modal-area-button button.rollIn:after, .modal-area-button button.zoomIn:after, .modal-area-button button.zoomInDown:after, .modal-area-button button.zoomInLeft:after, .modal-area-button button.zoomInRight:after, .modal-area-button button.zoomInUp:after, .modal-area-button button.slideInDown:after, .modal-area-button button.slideInLeft:after, .modal-area-button button.slideInRight:after, .modal-area-button button.slideInUp:after{
	background: #303030;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 0px;
    z-index: -1;
    content: "";
	opacity:0;
	transition: all 0.3s ease 0s;
}
.modal-area-button a.default:after, .modal-footer a:after{
	width:100px;
}

.modal-area-button button.default:after, .modal-footer button:after{
	width:100px;
}
.modal-area-button a.fullwidth:after{
	width:118px;
}
.modal-area-button a.FullColor:after{
	width:118px;
}
.modal-area-button a.Customwidth:after{
	width:142px;
}
.modal-area-button a.Primary:after{
	width:104px;
}
.modal-area-button a.bounce:after{
	width:102px;
}
.modal-area-button a.flash:after{
	width:90px;
}
.modal-area-button a.pulse:after{
	width:90px;
}
.modal-area-button a.shake:after{
	width:90px;
}
.modal-area-button a.swing:after{
	width:90px;
}
.modal-area-button a.tada:after{
	width:90px;
}
.modal-area-button a.wobble:after{
	width:102px;
}
.modal-area-button a.bounceIn:after{
	width:115px;
}
.modal-area-button a.jello:after{
	width:80px;
}
.modal-area-button a.rubberBand:after{
	width:130px;
}
.modal-area-button a.bounceInDown:after{
	width:151px;
}
.modal-area-button a.bounceInUp:after{
	width:134px;
}
.modal-area-button a.bounceOut:after{
	width:128px;
}
.modal-area-button a.fadeIn:after{
	width:98px;
}
.modal-area-button a.fadeInDown:after{
	width:135px;
}
.modal-area-button a.fadeInDownBig:after{
	width:154px;
}
.modal-area-button a.fadeInLeft:after{
	width:122px;
}
.modal-area-button a.fadeInRight:after{
	width:130px;
}
.modal-area-button a.fadeInUp:after{
	width:117px;
}
.modal-area-button a.fadeInLeftBig:after{
	width:138px;
}
.modal-area-button a.bounceInLeft:after{
	width:138px;
}
.modal-area-button a.bounceInRight:after{
	width:146px;
}
.modal-area-button a.Warning:after{
	width:109px;
}
.modal-area-button a.Information:after{
	width:130px;
}
.modal-area-button a.Danger:after{
	width:102px;
}
.modal-area-button a.Alert:after{
	width:85px;
}
.modal-area-button a.flip:after{
	width:85px;
}
.modal-area-button a.flipInX:after{
	width:97px;
}
.modal-area-button a.flipInY:after{
	width:97px;
}
.modal-area-button a.lightSpeedIn:after{
	width:138px;
}
.modal-area-button a.rotateIn:after{
	width:106px;
}
.modal-area-button a.rotateInDownLeft:after{
	width:168px;
}
.modal-area-button a.rotateInDownRight:after{
	width:176px;
}
.modal-area-button a.rotateInUpLeft:after{
	width:150px;
}
.modal-area-button a.rotateInUpRight:after{
	width:159px;
}
.modal-area-button a.hinge:after{
	width:93px;
}
.modal-area-button a.rollIn:after{
	width:90px;
}
.modal-area-button a.zoomIn:after{
	width:104px;
}
.modal-area-button a.zoomInDown:after{
	width:140px;
}
.modal-area-button a.zoomInLeft:after{
	width:128px;
}
.modal-area-button a.zoomInRight:after{
	width:136px;
}
.modal-area-button a.zoomInUp:after{
	width:122px;
}
.modal-area-button a.slideInDown:after{
	width:133px;
}
.modal-area-button a.slideInLeft:after{
	width:122px;
}
.modal-area-button a.slideInRight:after{
	width:130px;
}
.modal-area-button a.slideInUp:after{
	width:116px;
}

.modal-area-button a.default:hover:after, .modal-footer a:hover:after, .modal-area-button a.fullwidth:hover:after, .modal-area-button a.Customwidth:hover:after, .modal-area-button a.FullColor:hover:after, .modal-area-button a.Primary:hover:after, .modal-area-button a.Information:hover:after, .modal-area-button a.Warning:hover:after, .modal-area-button a.Danger:hover:after, .modal-area-button a.Alert:hover:after, .modal-area-button a.bounce:hover:after, .modal-area-button a.flash:hover:after, .modal-area-button a.pulse:hover:after, .modal-area-button a.rubberBand:hover:after, .modal-area-button a.shake:hover:after, .modal-area-button a.swing:hover:after, .modal-area-button a.tada:hover:after, .modal-area-button a.wobble:hover:after, .modal-area-button a.jello:hover:after, .modal-area-button a.bounceIn:hover:after, .modal-area-button a.bounceInDown:hover:after, .modal-area-button a.bounceInLeft:hover:after, .modal-area-button a.bounceInRight:hover:after, .modal-area-button a.bounceInUp:hover:after, .modal-area-button a.bounceOut:hover:after, .modal-area-button a.fadeIn:hover:after, .modal-area-button a.fadeInDownBig:hover:after, .modal-area-button a.fadeInLeft:hover:after, .modal-area-button a.fadeInLeftBig:hover:after, .modal-area-button a.fadeInDown:hover:after, .modal-area-button a.fadeInRight:hover:after, .modal-area-button a.fadeInUp:hover:after, .modal-area-button a.flip:hover:after, .modal-area-button a.flipInX:hover:after, .modal-area-button a.flipInY:hover:after, .modal-area-button a.lightSpeedIn:hover:after, .modal-area-button a.rotateIn:hover:after, .modal-area-button a.rotateInDownLeft:hover:after, .modal-area-button a.rotateInDownRight:hover:after, .modal-area-button a.rotateInUpLeft:hover:after, .modal-area-button a.rotateInUpRight:hover:after, .modal-area-button a.hinge:hover:after, .modal-area-button a.rollIn:hover:after, .modal-area-button a.zoomIn:hover:after, .modal-area-button a.zoomInDown:hover:after, .modal-area-button a.zoomInLeft:hover:after, .modal-area-button a.zoomInRight:hover:after, .modal-area-button a.zoomInUp:hover:after, .modal-area-button a.slideInDown:hover:after, .modal-area-button a.slideInLeft:hover:after, .modal-area-button a.slideInRight:hover:after, .modal-area-button a.slideInUp:hover:after{
	opacity:1;
	height: 45px;
	transition: all 0.3s ease 0s;
}
.modal-area-button button.default:hover:after, .modal-footer button:hover:after, .modal-area-button button.fullwidth:hover:after, .modal-area-button button.Customwidth:hover:after, .modal-area-button button.FullColor:hover:after, .modal-area-button button.Primary:hover:after, .modal-area-button button.Information:hover:after, .modal-area-button button.Warning:hover:after, .modal-area-button button.Danger:hover:after, .modal-area-button button.Alert:hover:after, .modal-area-button button.bounce:hover:after, .modal-area-button button.flash:hover:after, .modal-area-button button.pulse:hover:after, .modal-area-button button.rubberBand:hover:after, .modal-area-button button.shake:hover:after, .modal-area-button button.swing:hover:after, .modal-area-button button.tada:hover:after, .modal-area-button button.wobble:hover:after, .modal-area-button button.jello:hover:after, .modal-area-button button.bounceIn:hover:after, .modal-area-button button.bounceInDown:hover:after, .modal-area-button button.bounceInLeft:hover:after, .modal-area-button button.bounceInRight:hover:after, .modal-area-button button.bounceInUp:hover:after, .modal-area-button button.bounceOut:hover:after, .modal-area-button button.fadeIn:hover:after, .modal-area-button button.fadeInDownBig:hover:after, .modal-area-button button.fadeInLeft:hover:after, .modal-area-button button.fadeInLeftBig:hover:after, .modal-area-button button.fadeInDown:hover:after, .modal-area-button button.fadeInRight:hover:after, .modal-area-button button.fadeInUp:hover:after, .modal-area-button button.flip:hover:after, .modal-area-button button.flipInX:hover:after, .modal-area-button button.flipInY:hover:after, .modal-area-button button.lightSpeedIn:hover:after, .modal-area-button button.rotateIn:hover:after, .modal-area-button button.rotateInDownLeft:hover:after, .modal-area-button button.rotateInDownRight:hover:after, .modal-area-button button.rotateInUpLeft:hover:after, .modal-area-button button.rotateInUpRight:hover:after, .modal-area-button button.hinge:hover:after, .modal-area-button button.rollIn:hover:after, .modal-area-button button.zoomIn:hover:after, .modal-area-button button.zoomInDown:hover:after, .modal-area-button button.zoomInLeft:hover:after, .modal-area-button button.zoomInRight:hover:after, .modal-area-button button.zoomInUp:hover:after, .modal-area-button button.slideInDown:hover:after, .modal-area-button button.slideInLeft:hover:after, .modal-area-button button.slideInRight:hover:after, .modal-area-button button.slideInUp:hover:after{
	opacity:1;
	height: 45px;
	transition: all 0.3s ease 0s;
}

#fullwidth .modal-dialog{
	width:1170px;
}
#Customwidth .modal-dialog{
	width:700px;
}
#FullColor .modal-content{
	background:#03a9f4;
}
#FullColor .modal-content .modal-body h2{
	color:#fff;
}
#FullColor .modal-content .modal-body p{
	color:#fff;
}
#FullColor .modal-content .modal-body .modal-check-pro{
	color:#fff;
}
.fullwidth-popup-InformationproModal .modal-close-area .close{
	background: #8e44ad;
}
.modal-adminpro-general.fullwidth-popup-InformationproModal .modal-body .modal-check-pro.information-icon-pro{
	color:#8e44ad;
}
.modal-adminpro-general.fullwidth-popup-InformationproModal .modal-footer a:before{
	background:#8e44ad;
}

.modal-adminpro-general.fullwidth-popup-InformationproModal .modal-footer button:before{
	background:#8e44ad;
}
.Customwidth-popup-WarningModal .modal-close-area .close{
	background: #f39c12;
}
.modal-adminpro-general.Customwidth-popup-WarningModal .modal-body .modal-check-pro.information-icon-pro{
	color:#f39c12;
}
.modal-adminpro-general.Customwidth-popup-WarningModal .modal-footer a:before{
	background:#f39c12;
}

.modal-adminpro-general.Customwidth-popup-WarningModal .modal-footer button:before{
	background:#f39c12;
}
.FullColor-popup-DangerModal .modal-close-area .close{
	background: #F45846;
}
.modal-adminpro-general.FullColor-popup-DangerModal .modal-body .modal-check-pro.information-icon-pro{
	color:#F45846;
}
.modal-adminpro-general.FullColor-popup-DangerModal .modal-footer a:before{
	background:#F45846;
}
.modal-adminpro-general.FullColor-popup-DangerModal .modal-footer button:before{
	background:#F45846;
}
.FullColor-popup-AlertModal .modal-close-area .close{
	background: #d35400;
}
.modal-adminpro-general.FullColor-popup-AlertModal .modal-body .modal-check-pro.information-icon-pro{
	color:#d35400;
}
.modal-adminpro-general.FullColor-popup-AlertModal .modal-footer a:before{
	background:#d35400;
}
.modal-adminpro-general.FullColor-popup-AlertModal .modal-footer button:before{
	background:#d35400;
}
.footer-modal-admin{
	text-align:center;
	padding:0px 0px 50px 0px;
}
.PrimaryModal-bgcolor .modal-content{
	background: #303030;
}
.modal-adminpro-general.PrimaryModal-bgcolor .modal-body h2{
	color:#fff;
}
.modal-adminpro-general.PrimaryModal-bgcolor .modal-body p{
	color:#fff;
}
.header-color-modal{
	padding:20px 50px 20px 50px;
	color:#fff;
}
.header-color-modal.bg-color-1{
	background:#03a9f4;
}
.header-color-modal.bg-color-2{
	background:#8e44ad;
}
.header-color-modal.bg-color-3{
	background:#f39c12;
}
.header-color-modal.bg-color-4{
	background:#F45846;
}
.header-color-modal.bg-color-5{
	background:#d35400;
}
.header-color-modal h4{
	font-size:20px;
}
.tab-content-details {
    text-align: center;
    background: #fff;
    padding: 20px 100px;
    border: 1px solid rgba(0,0,0,.12);
}
.tab-content-details p {
    font-size: 14px;
    color: #303030;
    line-height: 24px;
}